
http://localhost:18080 {

  log stdout  
  root {$PWD}/webroot
  ext .html
  header / Cache-Control "no-cache, no-store, must-revalidate"
  
  recaptcha v3 {$secret} {$siteKey} {
    login POST /
  }
  
}
