
http://localhost:18080 {

  log stdout  
  root {$PWD}/webroot
  ext .html
  header /private Cache-Control "no-cache, no-store, must-revalidate"
  
  recaptcha v3 secret {
    action POST /private
  }
  
}
